<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="./css/styles.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https: //fonts.googleapis.com/css2? family = Roboto: ital, wght @ 1,100 & display = swap "
        rel=" stylesheet ">

</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="./img/logo-mercado-liebre.svg" class="logo">


            <input type="search" name="busquedaproductos" placeholder="Buscar productos, marcas... ">
            <i class="fas fa-search"></i>


            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a kref="#" class="hamburguer-button">
            <i class=" fas fa-bars "> </i>
        </a>

        <nav class="list">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="rigth-navbar">
                <li><a href="#">Crea tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>

            </ul>
        </nav>





    </header>

    <main>
        <img src="./img/img-home-banner.jpg">

        <h1>Sección: Basado en tu última visita</h1>
        <article class="productos">


            <article class="box-products">
                <img width="320" class="imagen" src="./img/img-cafetera-moulinex.jpg">
                <ul>
                    <div class="juntos">
                        <li class="precio">$6.770</li>
                        <li class="descuentos">40% off</li>
                    </div>
                    <li class="descripcion">Cafetera Moulinex </li>

                </ul>
            </article>

            <article class="box-products">
                <img width="320" class="imagen" src="./img/img-macbook-pro-2019.jpg">
                <ul>
                    <div class="juntos">
                        <li class="precio">$230.000</li>
                        <li class="descuentos">20% off</li>
                    </div>
                    <li class="descripcion">MacBook Pro 2019</li>
                </ul>
            </article>


            <article class="box-products">
                <img width="320" class="imagen" src="./img/img-samsung-galaxy-s10.jpg">
                <ul>
                    <div class="juntos">
                        <li class="precio">$70.500</li>
                        <li class="descuentos">10% off</li>
                    </div>
                    <li class="descripcion">Samsung Galaxy S10</li>
                </ul>
            </article>

            <article class="box-products">
                <img width="320" class="imagen" src="./img/img-tv-samsung-smart.jpg">
                <ul>
                    <div class="juntos">
                        <li class="precio">$23.200</li>
                        <li class="descuentos">5% off</li>
                    </div>
                    <li class="descripcion">SmartTv Samsung 43"</li>


                </ul>
            </article>

        </article>
        <h1>Sección de Ofertas</h1>
        <article class="productos">

            <article class="box-products">
                <img width="320" class="imagen" src="./img/img-cafetera-moulinex.jpg">
                <ul>
                    <div class="juntos">
                        <li class="precio">$6.770</li>
                        <li class="descuentos">40% off</li>
                    </div>
                    <li class="descripcion">Cafetera Moulinex </li>

                </ul>
            </article>

            <article class="box-products">
                <img width="320" class="imagen" src="./img/img-macbook-pro-2019.jpg">
                <ul>
                    <div class="juntos">
                        <li class="precio">$230.000</li>
                        <li class="descuentos">20% off</li>
                    </div>
                    <li class="descripcion">MacBook Pro 2019</li>

                </ul>
            </article>

            <article class="box-products">
                <img width="320" class="imagen" src="./img/img-samsung-galaxy-s10.jpg">
                <ul>
                    <div class="juntos">
                        <li class="precio">$70.500</li>
                        <li class="descuentos">10% off</li>
                    </div>
                    <li class="descripcion">Samsung Galaxy S10</li>


                </ul>
            </article>

            <article class="box-products">
                <img width="320" class="imagen" src="./img/img-tv-samsung-smart.jpg">
                <ul>
                    <div class="juntos">
                        <li class="precio">$23.200</li>
                        <li class="descuentos">5% off</li>
                    </div>
                    <li class="descripcion">SmartTv Samsung 43"</li>

                </ul>
            </article>

        </article>
    </main>

    <footer>
        <!-- <ol>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Tik Tok</a>
        </ol> -->
        <i class="far fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en
            puntos de <br> pago. ¡Y siempre es seguro!</p>

        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Libre <br> tenés envíos gratis en miles de
            productos. Es <br> un beneficio de Mercado Puntos.</p>

        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Libre, <br> no hay nada que no puedas hacer,
            porque estás <br> siempre protegid@.</p>

        <p class="copy">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>


    </footer>
</body>

</html>