<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="./css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https: //fonts.googleapis.com/css2? family = Roboto: ital, wght @ 1,100 & display = swap "
        rel=" stylesheet ">

</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="./img/logo-mercado-liebre.svg" class="logo">

            <div class="buscador">
                <form action="#" method="POST">
                    <input class="search-input" type="text" placeholder="Buscar productos, marcas...">
                    <i class="search-icon fas fa-search"></i>
                </form>
            </div>


            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a kref="#" class="hamburguer-button">
            <i class=" fas fa-bars "> </i>
        </a>

        <nav class="list">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="rigth-navbar">
                <li><a href="./register">Crea tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="./login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>

            </ul>
        </nav>





    </header>
    <main>
        <div class="login">
            <form action="#" method="get" class="login-form">

                <div>
                    <input type="text" required placeholder="Nombre de Usuario" name="Nombredeusuario">
                </div>

                <div>
                    <input type="password" required placeholder="Contraseña" name="Contraseña"> 
                </div>

                <div class="button-enviar">
                    <button type="submit"><a href="/">Enviar</a></button>
                </div>


            </form>
        </div>
    </main>
    <footer class="abajo">
        <div class="opciones">
            <i class="far fa-credit-card" style="color: blue"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en
                puntos de <br> pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="opciones">
            <i class="fas fa-gift" style="color: blue"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Libre <br> tenés envíos gratis en miles de
                productos. Es <br> un beneficio de Mercado Puntos.</p>
        </div>
        <div class="opciones">
            <i class="fas fa-user-shield" style="color: blue"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Libre, <br> no hay nada que no puedas hacer,
                porque estás <br> siempre protegid@.</p>
        </div>



    </footer>
    <p class="copy">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
</body>

</html>